h1 {
	color: darkblue;
	background-color: lightblue;
	padding: 10px;
	border: 2px double black;
	margin-bottom: 10px;
}

h2 {
	color: darkblue;
	background-color: lightblue;
	padding: 10px;
	border: 2px solid black;
	margin-bottom: 10px;
}


